[Unit]
Description=Refresh GX MQTT sources for Telegraf
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/ovr-refresh-gx-mqtt-sources

[Install]
WantedBy=multi-user.target
