[Unit]
Description=Refresh GX MQTT sources and send keepalives every 50 seconds

[Timer]
OnBootSec=10s
OnUnitActiveSec=50s
AccuracySec=5s
Unit=ovr-refresh-gx-mqtt-sources.service

[Install]
WantedBy=timers.target
